@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.gradient-bg {
  background-image: linear-gradient(360deg, #0A051C 0%, #08072B 60%);
}


}

.rdp-chevron {
  fill: #7239dd !important
}

.rdp-today {
  color: #7239dd !important;
  font-weight: 700 !important;
}

.rdp-root {
  --rdp-selected-border: 2px solid #7239dd !important
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-weight: bold !important;
}